body {
	background-color: red;
	margin: 0px;
}
#whack {
	font-size: 42px;
	color: yellow;
	text-align: center;
}


.mean{
	background-color: pink;
	height: 25px;
	width: 30px;
	display: inline-block;	
}

.plot{
	background-color: yellow;
	border: 7px solid white;
}